# TMDB
VITE_TMDB_API_KEY=
VITE_TMDB_BASE_URL=https://api.themoviedb.org/3

# Sportmonks
VITE_SPORTMONKS_TOKEN=
VITE_SPORTMONKS_BASE_URL=https://api.sportmonks.com/v3
VITE_ALLORIGINS_BASE_URL=https://api.allorigins.win

# SoccersAPI
VITE_SOCCERS_API_BASE_URL=https://api.soccersapi.com/v2.2
VITE_SOCCERS_API_USER=
VITE_SOCCERS_API_TOKEN=

# IPTV-org
VITE_IPTV_API_BASE_URL=https://iptv-org.github.io/api

# Firebase web app configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=
